.app{
    height: 100vh;

    .secciones{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: aquamarine;
        position: relative;
        top: 70px;

        > *{
            width: 100wv;
            height: calc(100vh - 70px);
        }
    }
}